// Theme colors
$primary-background-color: #eceff1;
$secondary-background-color: #263238;
$primary-accent-color: #e1375c;
$secondary-accent-color: #288ae2;

// Text colors
$primary-text-color: #000;
$secondary-text-color: #6b6b6b;
$primary-text-opposite-color: #fff;

// Media Queries
$primary-media-max-width: 499px;

// Transition Variables
$drawer-transition-length: 200ms;