a.button {
	display: inline-block;
	border-width: 0;
	border-radius: 3px;
	background-color: $secondary-accent-color;
	padding: 10px;
	color: #fff;
	font-weight: 400;
	font-size: 0.8em;
	text-transform: uppercase;
	box-shadow: $shadow-2dp;
	cursor: pointer;
	transition: $shadow-transition;

	&:focus {
		box-shadow: $shadow-8dp;
		outline: none;
		font-weight: 400;
	}

	&:active {
		background-color: #1c609f;
	}

	&:hover {
		color: #fff;
		font-weight: 400;
		box-shadow: $shadow-8dp;
	}

	&:visited {
		color: #fff;
	}
}