.footer-copyright {
	background: $secondary-background-color;
	color: #fff;
	padding: 0.5rem;
	font-weight: 300;
	font-size: 0.75rem;

	.copyright {
		padding-left: 0.5rem;
	}

	.footer-logo {
		width: 3rem;
	}
}