.logo-link {
	display: inline-block;
	color: #000;
	text-decoration: none;
	padding: 0 0 0 20px;

	img {
		display: inline-block;
		width: 40px;
		margin: 0;
		vertical-align: middle;
	}

	span {
		display: inline-block;
		padding: 0 0 0 5px;
		margin: 0;
		font-size: 1.2em;
		vertical-align: middle;
	}
}

.logo:visited {
	color: #000;
}