.page-header {
	background-color: $secondary-accent-color;
	color: #fff;
	padding: calc(64px + 1.25rem) 10vw 1.25rem;
	font-size: 1rem;

	@media (max-width: $primary-media-max-width) {
		font-size: 0.75em;
	}

	h1 {
		display: inline-block;
		font-size: 1.75em;
		font-weight: 400;
		margin: 0;
	}

	input::placeholder {
		font-weight: 300;
		color: #ccc;
	}

	.search-input {
		@media (max-width: $primary-media-max-width) {
			width: 50%;
		}
	}
}