.page-header {
	background-color: $secondary-accent-color;
	color: #fff;
	padding: calc(64px + 1.25rem) 10vw 1.25rem;
	font-size: 1rem;

	@media (max-width: $primary-media-max-width) {
		font-size: 0.85rem;
	}

	h1 {
		display: inline-block;
		font-size: 1.75em;
		font-weight: 400;
		margin: 0;
	}

	.inputs {
		display: inline-block;

		@media (max-width: $secondary-media-max-width) {
			width: 55%;

			.search {
				width: 100%;
			}
		}
	}

	.options-top {
		display: inline-block;

		@media (max-width: $secondary-media-max-width) {
			display: none;
		}
	}
}

.options-bottom {
	display: none;

	@media (max-width: $secondary-media-max-width) {
		display: flex;
		background-color: #2670b3;
		padding: 10px 0;
	}
}