.project-detail {
	.details {
		padding: 16px;

		h4 {
			margin: 0;
			font-size: 1.3em;
			font-weight: 400;
			color: #000;
		}

		p {
			font-size: 0.9em;
			font-weight: 300;
			color: $secondary-text-color;
			margin: 1em 0 0;

			@media (max-width: $primary-media-max-width) {
				font-size: 0.8em;
			}
		}
	}

	.action {
		border-top: 1px solid #e8e8e8;
		padding: 10px 20px;

		a {
			font-size: 0.9em;
			color: $secondary-text-color;
			text-transform: uppercase;
			padding: 10px 0.6em;

			&:visited {
				color: $secondary-text-color;
			}

			&:hover {
				color: $primary-text-color;
				font-weight: 500;
			}
		}
	}
}