.search {
	display: inline-block;
	position: relative;

	.search-input {
		position: relative;
		border: none;
		border-radius: 2px;
		background-color: rgba(0, 0, 0, 0.2);
		color: #fff;
		padding: 0.5em;
		font-size: 1em;

		&:focus {
			outline: none;
			background-color: rgba(0, 0, 0, 0.3);
		}

		&::placeholder {
			font-weight: 300;
			color: #ccc;
		}
	}
}