.title {
	color: #fff;
	padding: 10vw;
	font-size: 1rem;

	@media (max-width: $primary-media-max-width) {
		font-size: 0.8rem;
	}

	h1, h3 {
		font-weight: 300;
	}

	h1 {
		font-size: 6em;
		margin: 0.1em 0;
	}

	h3 {
		font-size: 2em;
		margin: 0.3em 0;
	}
}