<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
		<meta name="apple-mobile-web-app-title" content="Nick Hester">
		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="icons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="icons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="icons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="icons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="icons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="icons/apple-touch-icon-152x152.png">
		<link rel="icon" type="image/png" href="icons/favicon-32x32.png" sizes="32x32">
		<meta name="application-name" content="Nick Hester">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="icons/mstile-144x144.png">
		<link rel="manifest" href="manifest.json">
		<title>Nick Hester | {{pageTitle}}</title>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
		<style>
			body {
				background: #fff;
				margin: 0;
				font-family: 'Roboto', Helvetica, Arial, sans-serif;
				opacity: 1;
				transition: opacity 500ms;
			}
			body[unresolved] {
				opacity: 0;
			}
		</style>
	</head>
	<body unresolved>
		<div id="app"></div>
		<script src="{{scriptSrc}}"></script>
	</body>
</html>