.app {
	background: $primary-background-color;

	a {
		text-decoration: none;
	}
}

.logo-text {
	font-family: 'Product Sans', 'Roboto', Helvetica, Arial, sans-serif;
}

.section-heading {
	border-bottom: 1px solid $primary-accent-color;
	padding-bottom: 5px;
	font-weight: 400;
	font-size: 1em;
	color: $secondary-text-color;
	text-transform: uppercase;

	@media (max-width: $primary-media-max-width) {
		font-size: 0.8em;
	}
}