.app {
	background: $primary-background-color;
	
	* {
		font-weight: 400;
	}

	a {
		text-decoration: none;
		color: inherit;

		&:visited {
			color: inherit;
		}

		&:hover {
			color: #000;
			font-weight: 500;
		}
	}
}