// Flex
.flex {
	display: flex;
	flex-wrap: wrap;
}

.flex-center {
	@extend .flex;
	justify-content: center;
}

.flex-around {
	@extend .flex;
	justify-content: space-around;
}

.flex-between {
	@extend .flex;
	justify-content: space-between;
}

.flex-center-center {
	@extend .flex-center;
	align-items: center;
}

.flex-start-start {
	@extend .flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.flex-start-end {
	@extend .flex;
	justify-content: flex-start;
	align-items: flex-end;
}

.flex-start-center {
	@extend .flex;
	justify-content: flex-start;
	align-items: center;
}

.flex-end-center {
	@extend .flex;
	justify-content: flex-end;
	align-items: center;
}

.flex-end-start {
	@extend .flex;
	justify-content: flex-end;
	align-items: flex-start;
}

.flex-end-end {
	@extend .flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.flex-between-center {
	@extend .flex-between;
	align-items: center;
}

.flex-around-center {
	@extend .flex-around;
	align-items: center;
}

.flex-center-start {
	@extend .flex-center;
	align-items: flex-start;
}

.flex-center-end {
	@extend .flex-center;
	align-items: flex-end;
}