.projects-options {
	background-color: #fff;
  display: inline-block;
  position: relative;
  border-radius: 2px;
  color: $secondary-text-color;
  margin: 0 10px;
  font-size: 1rem;

  @media (max-width: $primary-media-max-width) {
  	font-size: 0.75rem;
  }

	&::before {
		content: "Sort:";
		position: absolute;
		top: 0.5rem;
		left: 0.5rem;
		z-index: 5;
    font-size: 0.7em;
	}

	&::after {
		content:"▾";
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    z-index: 5;
	}

	.dropdown {
		padding: 0.5em 3em;
		font-size: 1em;
		color: $secondary-text-color;
    appearance: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 2px;
    position: relative;
    cursor: pointer;
    z-index: 10;

    &:focus {
    	outline: none;
    	background-color: rgba(0, 0, 0, 0.2);
    }
	}
}