$project-page-padding: 3em;

.project-page {
	padding: 96px 0 40px;
	font-size: 1rem;

	@media (max-width: 814px) {
		padding: 0;
		font-size: 0.8rem;
	}

	.project-img {
		box-sizing: border-box;
		width: 49vw;
		height: 30vw;
		padding: 0 0 0 $project-page-padding;

		:first-child {
			box-shadow: $shadow-2dp;
		}

		@media (max-width: 814px) {
			width: 100vw;
			height: 60vw;
			padding: 0;

			:first-child {
				box-shadow: none;
			}
		}

		@media (max-width: $primary-media-max-width) {
			height: 80vw;
		}
	}

	.project-info {
		box-sizing: border-box;
		width: 49vw;
		padding: 0 $project-page-padding;

		.description {
			margin: 1.5em 0 2em;
			line-height: 1.4em;
			color: #3b3b3b;
			font-size: 1.1em;
		}


		@media (max-width: 814px) {
			width: 100vw;
			padding: 40px $project-page-padding;
		}
	}

	h1 {
		margin: 0 0 1em;
		padding: 0 0 5px;
		font-size: 2em;
		font-weight: 400;
		border-bottom: 1px solid $primary-accent-color;
	}

	a {
		margin: 0 0.8em 0.8em 0;
	}
}